<template>
  <div class="hello">
    <h1>Hello Bos</h1>
    <h2>Name: {{getUser}}</h2>
    <h2>Address: {{getAddress}}</h2>
    <input placeholder="name" v-model="user.name"/>
    <input placeholder="address" v-model="user.address"/>
    <button @click="updateUser_">Update User</button>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "HelloWorld",
  data(){
    return{
      user:{
        name:"",
        address:""
      }
    }
  },

  computed: {
    ...mapGetters(["getAddress"]),
    ...mapGetters(["getUser"])
    /**getName(){
      return this.$store.state.user.name
    },
    getAddress(){
      return this.$store.state.user.address
    }*/
  },
  methods: {
    ...mapActions(['updateUser']),

    updateUser_() {
      //this.$store.dispatch("updateUser", this.user);
      this.updateUser(this.user)
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
